vendor/etc/license.lic
vendor/etc/camera/license.lic
RMX1851EX_11_OTA_0190_all_kUXFHXJYeH9C.ozip
system/system/etc/camera/license_release.lic
system/system/app/Chrome/Chrome.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
